In [1]:
import numpy as np
import pandas as pd
import glob
import os

In [2]:
os.chdir("C:\\Users\\91955\\Pandas-Data-Science-Tasks-master\\SalesAnalysis")

In [3]:
m=pd.read_csv("all_months.csv")

In [4]:
dfk=pd.DataFrame(m)

In [5]:
dfk

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,0,0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,3,3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,4,4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...,...,...,...,...
186845,186845,186845,186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,186846,186846,186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,186847,186847,186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,186848,186848,186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,186849,186849,186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [6]:
dfk=dfk.dropna(how='any')

In [7]:
dfk

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,0,0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,2,2,2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,3,3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,4,4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,5,5,5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...,...,...,...,...
186845,186845,186845,186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,186846,186846,186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,186847,186847,186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,186848,186848,186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,186849,186849,186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [8]:
dfk['month']=3

<ipython-input-8-d16931d2aa06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfk['month']=3

In [9]:
dfk

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,0,0,0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",3
2,2,2,2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",3
3,3,3,3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",3
4,4,4,4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",3
5,5,5,5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",3
...,...,...,...,...,...,...,...,...,...,...,...
186845,186845,186845,186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",3
186846,186846,186846,186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",3
186847,186847,186847,186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",3
186848,186848,186848,186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",3
186849,186849,186849,186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",3

In [10]:
dfk['month']=dfk['Order Date'].str[0:2]

<ipython-input-10-81565da49a53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfk['month']=dfk['Order Date'].str[0:2]

In [11]:
dfk

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,0,0,0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,2,2,2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,3,3,3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,4,4,4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,5,5,5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
...,...,...,...,...,...,...,...,...,...,...,...
186845,186845,186845,186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
186846,186846,186846,186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
186847,186847,186847,186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
186848,186848,186848,186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
186849,186849,186849,186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

In [12]:
dfr.head()

NameError: name 'dfr' is not defined

In [ ]:
dfk.head()

In [ ]:
dfk=dfk[dfk['month'].str[0:2]!="Or"]

In [ ]:
dfk

In [ ]:
dfk['month']=dfk['month'].astype('int32')

In [ ]:
dfk['sales']=3

In [ ]:
dfk

In [ ]:
dkf['sales']=dfk['Quantity Ordered']*dfk['Price Each']

In [18]:
dfk['Quantity Ordered']=dfk['Quantity Ordered'].astype('float32')
dfk['Price Each']=dfk['Price Each'].astype('int32')

ValueError: could not convert string to float: 'Quantity Ordered'

In [ ]:
dfk['sales']=dfk['Quantity Ordered']*dfk['Price Each']

In [ ]:
dfk

In [ ]:
g=dfk['sales']

In [ ]:
mx=g.max()

In [ ]:
mx

In [ ]:
mon=dfk[dfk['month']]

In [ ]:
dfk

In [ ]:
g

In [ ]:
dfk['month']

In [13]:
dfk.groupby('month').sum()

       Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1
month
01      701983866     701983866       701983866          47433245
02      736939638     736939638       736939638          72123197
03     1709538042    1709538042      1709538042         115333587
04      169872342     169872342       169872342         167977608
05     2130476341    2130476341      2130476341         137829259
06     1334894038    1334894038      1334894038          92330356
07     1207430793    1207430793      1207430793         102752005
08      292646206     292646206       292646206          71824951
09     2101562504    2101562504      2101562504          67863032
10     3346285693    3346285693      3346285693         206528743
11     2565279140    2565279140      2565279140         155210546
12     1076147574    1076147574      1076147574         313688708
Or       32483429      32483429        32483429           2971917

In [20]:
dfk['month']=dfk.where(dfk['sales']>10000)

KeyError: 'sales'